fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langgraph
rank-bm25
sentence-transformers
chromadb
langchain-chroma
pypdf
python-docx
python-pptx
pandas
openpyxl
pytesseract
pillow
pdf2image
python-multipart
youtube-transcript-api
beautifulsoup4
requests
huggingface_hub
pypandoc
yt-dlp
groq
python-dotenv
loguru
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
email-validator