# fastapi
# uvicorn
# langchain
# langchain-core
# langchain-community
# langchain-huggingface
# sentence-transformers
# faiss-cpu
# pypdf
# python-docx
# python-pptx
# pandas
# openpyxl
# unstructured
# pytesseract
# pillow
# pdf2image
# python-multipart
# youtube-transcript-api==0.6.1
# beautifulsoup4
# requests
# huggingface_hub
# unstructured
# python-docx
# pypandoc
# yt-dlp



fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
python-docx
python-pptx
pandas
openpyxl
unstructured
pytesseract
pillow
pdf2image
python-multipart
youtube-transcript-api
beautifulsoup4
requests
huggingface_hub
pypandoc
yt-dlp
groq
python-dotenv
loguru